name: Build Windows x64

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

permissions:
  contents: read
  actions: read

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Build Release x64
        run: msbuild GTFOHax.sln /m /p:Configuration=Release /p:Platform=x64 /warnaserror /v:minimal

      - name: Upload artifacts
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: GTFOHax-win64-Release
          if-no-files-found: warn
          path: |
            **/x64/Release/*.dll
            **/x64/Release/*.exe
